{% extends "contributors/base.html" %}
{% load js %}
{% load i18n %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'importer_status' %}">status</a>{% endblock %}

{% block content %}

<h1>Submissions for {{source}}</h1>

<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Received" %}</th>
    <th>{% trans "Completed" %}</th>
    <th>{% trans "Method" %}</th>
    <th>{% trans "Operation" %}</th>
    <th>{% trans "Started" %}</th>
    <th>{% trans "Ended" %}</th>
    <th>{% trans "Elapsed" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Stats" %}</th>
  </tr>
</thead>
<tbody>
{% for log in logs %}
<tr>
  <td><a href="{{log.submission.get_absolute_url}}">{{log.submission.received}}</a></td>
  <td>{{log.submission.completed}}</td>
  <td>{{log.submission.method}}</td>
  <td>{{log.operation}}</td>
  <td>{{log.since_dt}}</td>
  <td>{{log.until_dt}}</td>
  <td>{{log.elapsed|floatformat}}s</td>
  <td>{{log.result_code}}</td>
  <td><pre>{{log.stats_parsed.formatted}}</pre></td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
