{% extends "contributors/base.html" %}
{% load js %}
{% load i18n %}

{% block content %}

<h1>Importer status</h1>

<h2>Pending imports</h2>

{% if pending %}
<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Source" %}</th>
    <th>{% trans "Received" %}</th>
    <th>{% trans "Method" %}</th>
    <th>{% trans "Entries" %}</th>
  </tr>
</thead>
<tbody>
{% for s in pending %}
<tr>
  <td><a href="{% url 'importer_source_status' s.submission.source.name %}">{{s.submission.source}}</a></td>
  <td><a href="{{s.submission.get_absolute_url}}">{{s.submission.received}}</a></td>
  <td>{{s.submission.method}}</td>
  <td>{{s.stats_parsed.records_parsed}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
No imports pending
{% endif %}

<h2>Last failed posts</h2>

{% if failed_receive %}
<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Source" %}</th>
    <th>{% trans "Received" %}</th>
    <th>{% trans "Method" %}</th>
    <th>{% trans "Entries" %}</th>
    <th>{% trans "Error" %}</th>
  </tr>
</thead>
<tbody>
{% for s in failed_receive %}
<tr>
  <td><a href="{% url 'importer_source_status' s.submission.source.name %}">{{s.submission.source}}</a></td>
  <td><a href="{{s.submission.get_absolute_url}}">{{s.submission.received}}</a></td>
  <td>{{s.submission.method}}</td>
  <td>{{s.stats_parsed.records_parsed}}</td>
  <td>{{s.result_code}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
No receive failures
{% endif %}

<h2>Last failed imports</h2>

{% if failed_import %}
<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Source" %}</th>
    <th>{% trans "Received" %}</th>
    <th>{% trans "Method" %}</th>
    <th>{% trans "Entries" %}</th>
    <th>{% trans "Error" %}</th>
  </tr>
</thead>
<tbody>
{% for s in failed_import %}
<tr>
  <td><a href="{% url 'importer_source_status' s.submission.source.name %}">{{s.submission.source}}</a></td>
  <td><a href="{{s.submission.get_absolute_url}}">{{s.submission.received}}</a></td>
  <td>{{s.submission.method}}</td>
  <td>{{s.stats_parsed.records_parsed}}</td>
  <td>{{s.result_code}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
No import failures
{% endif %}

<h2>Last successful imports</h2>

{% if success_latest %}
<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Source" %}</th>
    <th>{% trans "Received" %}</th>
    <th>{% trans "Method" %}</th>
    <th>{% trans "Entries" %}</th>
  </tr>
</thead>
<tbody>
{% for s in success_latest %}
<tr>
  <td><a href="{% url 'importer_source_status' s.submission.source.name %}">{{s.submission.source}}</a></td>
  <td><a href="{{s.submission.get_absolute_url}}">{{s.submission.received}}</a></td>
  <td>{{s.submission.method}}</td>
  <td>{{s.stats_parsed.records_parsed}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
No import failures
{% endif %}

{% endblock %}
