{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block relatedpages %}
<a href="{% url 'contributors_export_sources' %}">Export all sources to JSON</a>
{{block.super}}
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Debian Contributors data sources</h1>

<div id="intro">
This is a list of all the data sources that feed the Debian Contributors list.
To create a new one, see
<a href="https://wiki.debian.org/DebianContributors">here</a> and
<a href="https://salsa.debian.org/python-team/modules/python-debiancontributors/blob/master/README.md">here</a>.
</div>

<table id="sources" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Last submission</th>
        <th>Latest contribution</th>
        <th>Admins</th>
        {% if user.is_authenticated %}
        <th>Actions</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for s in sources %}
    <tr>
      <td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
      <td>{{s.desc}}</td>
      <td val="{{s.last_import|date:"Ymd"}}">
        {% if s.last_import %}
          {{s.last_import|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td val="{{s.last_contribution|date:"Ymd"}}">
        {% if s.last_contribution %}
          {{s.last_contribution|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td>
        {% for u in s.admins.all %}
        <a href="{{u.get_absolute_url}}">{{u.unambiguous_user_id}}</a>
        {% endfor %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a href="{% url 'importer_source_status' sname=s.name %}">Imports</a>
        {% if s.perm_can_admin %}
        <a href="{% url 'source_update' sname=s.name %}">Edit</a>
        {% endif %}
        {% if s.perm_can_admin or s.perm_can_add_self %}
        <a href="{% url 'source_members' sname=s.name %}">Members</a>
        {% endif %}
        {% if s.perm_can_admin %}
        <a href="{% url 'source_delete' sname=s.name %}">Delete</a>
        {% endif %}
        {% if s.perm_can_admin %}
        <a href="{% url 'source_delete_contributions' sname=s.name %}">Delete all contributions</a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
{% if user.is_authenticated %}
<tfoot>
  <tr>
    <td colspan="2">
      <a href="{% url 'source_add' %}">Create new data source</a>
    </td>
  </tr>
</tfoot>
{% endif %}
</table>

{% endblock %}
