{% extends "sources/base.html" %}
{% load js %}

{% block relatedpages %}
{% if not user.is_anonymous %}
<a href="{% url 'source_update' sname=source.name %}">configure</a>
{% endif %}
{{block.super}}
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'source_list' %}">sources</a>{% endblock %}

{% block content %}

<h1>Configure admins for {{source.name}} data source</h2>

<h2>Admin list</h2>

<table id="admins">
<thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for u in source.admins.all %}
    <tr>
      <td><a href="{{u.get_absolute_url}}">{{u}}</a></td>
      <td>
        {% if can_admin %}
        <form action="{% url 'source_members_delete' sname=source.name %}" method="POST">{% csrf_token %}
          <input type="hidden" name="name" value="{{u.email}}">
          <input type="submit" value="Delete">
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="2">
      <form action="{% url 'source_members_add' sname=source.name %}" method="POST">{% csrf_token %}
        {% if can_admin %}
        Add: <input type="text" name="name" placeholder="Username">
        <input type="submit" value="Add">
        {% else %}
        <input type="hidden" name="name" value="{{request.user.email}}">
        <input type="submit" value="Add me as an admin">
        {% endif %}
      </form>
    </td>
  </tr>
</tfood>
</table>

{% endblock %}

